.MainContainer {
    display: flex;
    background-color: #FFFCF9;
    width: 100vw;
    padding: 8rem 0 4rem 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.MainTitle {
    font-size: 2.75rem;
    font-weight: 400;
    color: #212121;
}

.Line1 {
    width: 10%;
    margin: 0 auto;
    margin-left: 0;
    border-top: 0.125rem solid #49A078;
    margin: 1rem 0 2rem 0;
}

.Image {
    width: 30rem;
    height: auto;
}

.SubContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 0 0;
}

.SubTitle {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 2.1rem;
}

.Content {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.TextContent {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    width: 35rem;
    margin: 0rem 0 5rem 0;
    color: #4D4D4D
}

.Talk {
    @extend .TextContent;
    margin: 0;
}

.Mail {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: 600;
    vertical-align: baseline;
    width: 35rem;
    margin: 1rem 0 0 0;
    color: #4D4D4D
}

.Logo {
    width: 3rem;
    height: auto;
    margin: 1rem 1rem 0 0;
}

.LogoContainer {
    display: flex;
}

@media (max-width: 1300px) {
    .SubContainer {
        flex-direction: column;
    }
    
    .Content {
        margin: 0rem;
    }

    .Image {
        margin: 0 0 3rem 0;
        width: 24rem;
    }
}