.MainTitle {
    font-size: 5rem;
    color: #212121;
}

.Content {
    display: flex;
    flex-direction: column;
}

.MainContainer {
    display: flex;
    background-color: #F4F8FD;
    width: 100vw;
    padding: 10rem 10rem 0rem 10rem;
    align-items: center;
    justify-content: center;
}

.Image {
    margin-left: 10rem;
    width: 31.25rem;
    height: auto;
}

.TextContent {
    border: 0;
    font-family: inherit;
    font-size: 1.2rem;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    width: 35rem;
    margin: 0rem 0 5rem 0;
    color: #4D4D4D
}

@media (max-width: 1300px) {
    .MainContainer {
        flex-direction: column;
        padding: 10rem 0 0 0;
    }
    .Image {
        margin: 0;
    }
}